name: CI

permissions:
  contents: read

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  code-quality-checks:
    name: Code Quality Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache Rust toolchain and dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.rustup
            ~/.cargo
            target
          key: ${{ runner.os }}-rust

      - name: Add musl target
        run: rustup target add x86_64-unknown-linux-musl

      - name: Format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Lint
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-features --all-targets -- -D warnings

  code-correctness-checks:
    name: Code Correctness Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Cache Rust toolchain and dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.rustup
            ~/.cargo
            target
          key: ${{ runner.os }}-rust

      - name: Add musl target
        run: rustup target add x86_64-unknown-linux-musl

      - name: Check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --workspace --all-features --all-targets

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --workspace --all-features --all-targets

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features --all-targets

  pre-publishing-checks:
    name: Pre-publishing Checks
    needs: [code-quality-checks, code-correctness-checks]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install and Cache system dependencies
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: wireguard
          version: 1.0

      - name: Cache Rust toolchain and dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.rustup
            ~/.cargo
            target
          key: ${{ runner.os }}-rust

      - name: Verify Documentation
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --no-deps --all-features --document-private-items

      - name: Dry run publish for core crate
        run: |
          cargo publish --dry-run 2>&1 | tee /dev/stderr | (! grep -q -v "^warning: aborting upload due to dry run" | grep -q "^warning:")
